[submodule "IMPACT"]
	path = IMPACT
	url = git@github.com:/IllinoisRocstar/IMPACT
[submodule "elmerfem"]
	path = elmerfem
	url = https://github.com/ElmerCSC/elmerfem.git
[submodule "foam/foam-extend-3.2"]
	path = foam/foam-extend-3.2
	url = git://git.code.sf.net/p/foam-extend/foam-extend-3.2
